

<!-- <div class="navimg "><img src="/images/Pic.jpg" height="50" width="55"></div> -->
<div class="topnav ">
  <a class="active" href="/">Home</a>
  <a href="/service">Service</a>
  <a href="/about">About</a>
  <a href="/gallery">Gallery</a>
  <a href="/price">Price</a>
  <a href="/review">Review</a>
  <a href="/contact">Contact</a>
  <a href="/payment">Payment</a>
  

    <a href="/registration" class=" btn-register">Registration</a>
  
  
</div>
