<% layout('/layouts/boilerplate') %>
<section class="service" id="service">
    <h1 class="heading">our <span>services</span></h1>

    <div class="box-container">
      <div class="box">
        <i class="fas fa-envelope"></i>
        <h3>invitation card design</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro,
          suscipit.
        </p>
      </div>

      <div class="box">
        <i class="fas fa-photo-video"></i>
        <h3>photos and videos</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro,
          suscipit.
        </p>
      </div>

      <div class="box">
        <i class="fas fa-music"></i>
        <h3>entertainment</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro,
          suscipit.
        </p>
      </div>

      <div class="box">
        <i class="fas fa-car"></i>
        <h3>enent vehicles</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro,
          suscipit.
        </p>
      </div>

      <div class="box">
        <i class="fas fa-map-marker-alt"></i>
        <h3>venue selection</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro,
          suscipit.
        </p>
      </div>

      <div class="box">
        <i class="fas fa-birthday-cake"></i>
        <h3>food catering</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro,
          suscipit.
        </p>
      </div>
    </div>
  </section>